@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

body {
  color: #282828;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: Bubblegum Sans;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.ninja {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 50%;
}

.nadpis {
  font-size: 36px;
  text-align: center;
}

.logo {
  width: 100px;
  bottom: 0px;
  right: 10px;
  position: absolute;
}
